python-dotenv==1.0.0
pandas==2.0.1
langchain==0.1.17
openai==0.27.5
pinecone-client==3.2.2
tqdm==4.65.0
sentence-transformers==2.2.2
scikit-learn==1.2.2
streamlit==1.33.0
google-generativeai==0.5.2
langchain-google-genai==1.0.3
langchain_pinecone==0.1.0
beautifulsoup4
PyPDF2
pdfplumber
pytest==8.2.0